{{#each rounds as |round|}}
{{log round}}
<section data-id="{{round.id}}">
  <h6>Course:</h6>
  <h3>
    {{limit round.course 15}}
  </h3>
  <h6>Date:</h6>
  <h3>{{round.date}}</h3>
  <h6>Score:</h6>
  <h3>
    {{round.score}}
  </h3>
</section>

{{/each}}
